body{
    margin: 0px;
    padding: 0px;
}
header{
    padding-top: 20px;
}
.header{
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    border-radius: 12px;

    
}
.banner{
    text-align: center;
    color: #fff;
    padding: 200px;

    
}
.banner-title{
    font-size: 35px;
    margin-top: 20px;
}
.banner-des{
    font-size: 50px;
}
/* off section */
.off{
    text-align: center;
    margin-top: 90px;
}
.off-title{
    font-size: 50px;
    color: #FF0000;
}
.off-des{
    font-size:20px;
    color:#FF0000 ;
}
.off-cat{
    font-size: 35px;
    color: #070211;
    margin-top: 20px;
}
.new-year{
    text-align: center;
}
/* Party */
.party-section{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-left: 300px;
    border-radius: 12px;
}
.midnight-party{
    margin-top: 80px;
    width: 720px;

}
.year-pic{
    margin-top: 95px;
}
.party-title{
    font-size:70px ;
    color: #fff;
}
.party-des{
    color:#ffffffdd ;
    margin-bottom: 20px;
    padding-right: 35px;
}
.party-btn{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}
/* join session */
.join-session{
    margin-top: 90px;
    margin-left: 300px;
    width: 1320px;
    height: 420px;
    background:linear-gradient(to bottom, #ec85854f, rgb(255, 255, 255));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.join-div{
    line-height: 15px;
}
.join-title {
    font-size: 30px;
    margin-left: 60px;
}
.join-des {
    font-size: 30px;
    margin-left: 35px;
}
.join-cont {
    font-size: 30px;
 }
 .join-btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
 }
 .jn-button{
    border-radius: 5px;
    background: red;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 35px;
    color: #fff;
 }
span{
    color: red;
}

/* offer section style */

.offer-section{
    width: 1320px;
    height: 463px;
    /*! display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    margin-top: 90px;
    margin-left: 300px !important;
    display: flex;
    /*! margin: auto; */
}
.offer-st{
    line-height: 24px;
    padding-top: 40px;
    width: 582px;
}
.offer-md{
    border: 12px solid red;
    border-radius: 50%;
    padding: 30px 30px;
    width: 440px;
}
.offer-end{
    padding-left: 90px;
    width: 404px;
}
.best{
    color: red;
    font-size: 20px;
}
.soon{
    font-size: 50px;
}
.description{
    color: gray;
    font-size: 20px;
    padding-right: 70px;
}
.offer-year{
    color: red;
    font-size: 40px;
}
.offer-des{
    color: gray;

}

/* portfolio session style */
.portfolio-session{
    width: 1320px;
    height: 1160px;
    margin-top: 90px;
    margin-left: 300px;
}
.portfolio{
    line-height: 20px;
}
.portfolio-title{
    font-size: 24px;
    color: red;
}
.awesome-portfolio{
    font-size: 48px;
}
.portfolio-des{
    font-size: 20px;
    color: gray;
    width: 720px;
    height: 64px;
    line-height: 25px;
}
.first-port{
    display: flex;
    justify-content: space-between;
}
.second-port{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.pic-hover:hover {
    opacity: 0.8; 
    cursor: pointer;
  }

  /* News Letter styles */
  .news-letter{
    width: 1320px;
    height: 600px;
    margin-top: 90px;
    margin-left: 300px;
    background: #ec9c9c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
  }
  .news-title{
    font-size: 48px;
  }
  .news-description{
    font-size: 18px;
    color: gray;
    padding: 0 312px;
  }
  .news-lable{
    border-radius: 30px 0px 0px 30px;
    background: white;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 35px;
    color: black;
  }
  .news-btn{
    border-radius: 0px 30px 30px 0px;
    background: red;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 35px;
    color: #fff;
    margin-left: -3px;
    margin-top: 25px;
  }

  /* footer style */
  footer{
    
    background-color: rgb(8, 8, 10);
    margin-top: 90px;

    height: 600px;
  }
  .adress-section{
    color: white;
    display: flex;
    justify-content: space-around;

    padding-top: 90px;
  }
  .icons-pic{

    text-align: center;
    padding: 40px;
  }
  .copy-section{
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 40px;
  }
  hr{
    width: 1320px;
  }